
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2, h1 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  color: #2b3216;
}

ul {
  list-style: none;
  padding: 0px;
}

img {
  height: 300px;
  display: block;
  margin: 0 auto;
    
}

.locations-wrapper {
  background-color: #ffe7bd;
  border-radius: 20px;
  box-shadow: 2px 3px 5px rgba(209, 178, 120, 0.6);
}

.location-card {
  background-color: #fffbf4;
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgba(175, 152, 106, 0.6);
  transition: transform 0.5s ease;
  text-align: center;
}

.location-card:hover {
  transform: translateY(-2px);
  box-shadow: 4px 6px 6px rgba(175, 152, 106, 0.6);
}

#guests {
  background-color: #fff2dd;
  text-align: center;
  border-radius: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 1rem;
  box-shadow: 1px 2px 4px rgba(175, 152, 106, 0.6);
  line-height: 57px;
}

#footer {
  color: #2b3216;
}